.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.quick-look-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  border-radius: 3px;
  width: 50%;
  min-height: fit-content;
  max-height: 50vh;
  .modal-close {
    text-align: right;
    span {
      &:hover {
        cursor: pointer;
      }
    }
  }
  .modal-body {
    display: flex;
    justify-content: space-evenly;
    // align-items: center;
    height: 100%;
    margin: 4rem 0;
    .product-details {
      .product-name {
        color: #111;
        font-size: 24px;
        line-height: 1.33;
        display: block;
      }
      .product-price {
        display: block;
        font-size: 22px;
        margin: 1rem 0;
      }
      .product-details-btn {
        display: block;
        border-color: #a88734 #9c7e31 #846a29;
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        cursor: pointer;
        display: inline-block;
        padding: 0;
        text-align: center;
        text-decoration: none !important;
        vertical-align: middle;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
        height: 29px;
        font-size: 13px;
        line-height: 29px;
        padding: 0 10px 0 11px;
        background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
        color: #111;
        max-width: 210px;
      }
    }
  }
}
