.products_body {
  display: grid;
  grid-template-columns: 200px auto;
  background: #fff;
  padding: 0.7rem 0;
  .filter_sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .all_products {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    padding: 0 0.4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}
